#prizeSection {
  display: flex;
  justify-content: space-around;
  height:300px;
  align-content:center;
}
 #customerSection{
     display: flex;
     justify-content: space-around;
     height:300px;
     align-content: center
 }
 #content{
     height:200px;
     width:150px;
     display:flex;
 }
 h1{
     text-align: center;
 }